!/Library/AppleScripts
!/Library/KeyBindings
*.DS_Store
*.elc
*.orig
*.pyc
*.rej
*~
/.CFUserTextEncoding
/.Trash
/.Xauthority
/.account
/.apex
/.bash_history
/.bundle
/.cache
/.certs
/.config
/.cups
/.erlang.cookie
/.eshell
/.fontconfig
/.fonts
/.gem
/.ghc
/.gradle
/.heroku
/.history
/.histfile
/.ipython
/.irb-history
/.irb_history
/.keybase
/.m2
/.netrc
/.node-gyp
/.npm
/.psql_history
/.rnd
/.rvm
/.sh_history
/.ssh
/.ssl
/.subversion
/.travis
/.vim/.netrwhist
/.viminfo
/.zcompdump
/Applications
/Desktop
/Documents
/Downloads
/Dropbox
/Gmail
/Library/*
/Movies
/Music
/Pictures
/Projects
/Public
/Sites
/bin/rvm
/bin/rvm-auto-ruby
/bin/rvm-exec
/bin/rvm-prompt
/bin/rvm-shell
/bin/rvmsudo
/src
